{% extends 'base.html' %}
{% load i18n %}

{% block principal %}
<div class="" style="min-height: 60vh">
	<div class="w3-card-4 w3-border" style="margin: 4em auto; width:60%;">
		<header class="w3-container w3-blue-grey">
		  <h3>{% trans 'Serious games' %}</h3>
		</header>
		<div class="w3-container">
			<p class="m-2">
			  {% trans "Test your culture and improve your knowledge of the world while having fun! Take part in our quizzes and become knowledgeable about dozens of themes!" %}
		    </p>
		    <p class="w3-center">{% trans 'Ready to play' %}</p>
		</div>
		<footer class="w3-container w3-border-top p-4">
	        <a href="{% url 'login_to_box' %}" class="w3-button w3-dark-plus w3-round-large m-2">
	            <i class="fas fa-user w3-text-orange"></i> {% trans 'Access for gamers' %}
	        </a>
	        <a href="{% url 'home' %}" class="w3-button w3-dark-plus w3-round-large m-2">
	            <i class="fas fa-user-cog w3-text-red"></i> {% trans 'Access for administrators' %}
	        </a>
		</footer>
	</div>
</div>
{% endblock %}
